*,
*::before,
*::after {
    box-sizing: border-box;

}

:root {
    --background-color: #d3d3d3;
    --font-color: #282828;
    --hover-color: #858585;
}

html {
    font-size: 100%;
}

body, h1, h2, h3, h4, p, figure, blockquote, fieldset, legend, dl, dd {
    margin: 0;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    margin: 1rem auto;
    max-width: 300px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.header > img {
    width: 80%;
}

.header > h1 {
    padding-top: 1rem;
}

.header > p {
    padding: 1rem;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

ul li a {
    display: block;
    margin: 0 1rem;
    padding: 1rem;
    border-radius: 8px;
    border: 2px solid var(--font-color);
    color: var(--font-color);
    text-decoration: none;
    font-weight: 600;
}

ul li a:hover {
    background-color: var(--font-color);
    color: var(--background-color);
    font-weight: 800;
}

footer {
    margin-top: 2rem;
}

@media screen and (min-width: 600px) {

    body {
        max-width: 500px;
    }

    ul li a:hover {
        background-color: var(--hover-color); 
        color: var(--background-color); /* Manter a cor da fonte */
        border: 2px solid var(--hover-color);
    }
}