:root {
    --color1: hsla(217, 100%, 97%, 1);
    --color2: hsla(219, 100%, 89%, 1);
    --color3: hsla(222, 100%, 85%, 1);
    --color4: hsla(262, 100%, 80%, 1);
    --color5: hsla(262, 72%, 68%, 1);

    --gradient: linear-gradient(-45deg, var(--color1) 0%, var(--color2) 20%, var(--color3) 40%, var(--color4) 60%, var(--color5));
}

body {
    font-family: Helvetica;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    background: var(--gradient);
    padding: 2rem;
    max-width: 300px;
    margin: 2rem auto;
    border-radius: 10px;

}

.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    gap: 10px;
}

.label label {
    flex: 1;
}

.label input,
.label select {
    flex: 2;
}

input,
select {
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    corner-shape: squircle;
    padding: 0.5rem;
}

#enviar {
    padding: .5rem 1rem;
    background: transparent;
    border: 1px solid white;
    color: black;
    letter-spacing: 1px;

    &:hover {
        background-color: white;
        border: 1px solid white;
        color: black;
    }
}